<section id="features">
  {{#features}}
  <div class="container">

    <div class="row">

      <div class="col-lg-8 offset-lg-4">
        <div class="section-header wow fadeIn" data-wow-duration="1s">
          <h3 class="section-title">{{heading}}</h3>
          <span class="section-divider"></span>
        </div>
      </div>

      <div class="col-lg-4 col-md-5 features-img">
        <img src="img/product-features.png" alt="" class="wow fadeInLeft">
      </div>

      <div class="col-lg-8 col-md-7 ">

        <div class="row">
          {{#items}}
          <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="{{data-wow-delay}}">
            <div class="icon"><i class="{{icon}}"></i></div>
            <h4 class="title"><a href="">{{title}}</a></h4>
            <p class="description">
              {{#usage_item}}
              <span>{{description}}</span><br />
              {{/usage_item}}
            </p>
          </div>
          {{/items}}

        </div>

      </div>

    </div>

  </div>
  {{/features}}
</section>
